<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

php_flag  xdebug.remote_enable on
php_value xdebug.remote_host "your_ip_without_quotes"
php_value xdebug.remote_port 9000
php_value xdebug.idekey PHPSTORM
#php_flag  xdebug.remote_autostart on